body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 16px;

}

header,
footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

}

main .noticiaPrincial {
  grid-column: 1 / 3;
}